@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {
	font-family: 'Comfortaa', cursive;
}
button {
	font-family: 'Comfortaa', cursive;
}
.new-item-menu {
	display: none;
}
.container {
	width: 1000px;
	margin-left: 2.5%;
}
.edit-menu{
	display: none;
}
.edit-item-props {
	display: none;
}
.list-list-container {
	display: none;
	vertical-align: top;
	min-width: 25%;
	margin-top: 2.5%;
}
.data-list-container {
	display: none;
}
.data-list {
	list-style: none;
	padding: 0;
}
.data-list li{
	padding-bottom: 10px;
}
.item {
	border-style: solid;
	border-color: #5E5E5E;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
	min-width: 500px;
}
.edit-menu {
}