@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {
	font-family: 'Comfortaa', cursive;
}
button {
	font-family: 'Comfortaa', cursive;
}
.new-item-menu {
	display: none;
}
#addItem {
	display: none;
}
.edit-menu{
	display: none;
}
.edit-item-props {
	display: none;
}