@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
}
button {
	font-family: 'Comfortaa', cursive;
}
.login-container {
	margin: auto;
	height: 600px;
	width: 300px;
	text-align: center;
	padding: 200px;
}
.login-container input{
	margin-right: 20px;
}
.new-item-menu {
	display: none;
}
.container {
	width: 95%;
	margin-left: 2.5%;
}
.edit-menu{
	display: none;
}
.edit-item-props {
	display: none;
}
.left-panel {
	display: none;
	vertical-align: top;
	width: 25%;
	margin-top: 3%;
	margin-right: 3%;
}
.left-panel p {
	font-size: 20px;
}
.list-list-container {
	border-style: solid;
	border-width: 1px;
}
.data-list-container {
	display: none;
	border-style: solid;
	border-width: 2px;
	min-height: 700px;
	min-width: 1000px;
}
.data-list {
	list-style: none;
	padding: 0;
}
.data-list li{
	padding-bottom: 10px;
}
.item {
	border-style: solid;
	border-color: #5E5E5E;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
}
.item button {
	margin-right: 3px;
}
.edit-menu {
}